{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the site with Blogs!</h1>
        <p class="lead">Explore the latest blogs and articles from our community.</p>
        <hr class="my-4">
        <p>Click below to see all blogs or add your own if you are logged in. Otherwise log in or sign in if you are
            new.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'blog_list' %}" role="button">View Blogs</a>
        {% if user.is_authenticated %}
        <a class="btn btn-success btn-lg" href="{% url 'add_blog' %}" role="button">Add Blog</a>
        {% endif %}
    </div>
</div>
{% endblock %}