{% extends 'base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
<h1>Blog title: {{ blog.title }}</h1>
<p class="mb-0">Submitted by:</p>
<p class="mt-0">{% if author_avatar %}
    <img src="{{ author_avatar.url }}" class="img-fluid" style=" width:60px; height:60px;" alt=" Avatar użytkownika">
    {% endif %}
    {{ blog.author.username }}

</p>
<h2>Articles:</h2>
<ol>
    {% for article in articles %}
    <li><a href="{% url 'article_detail' blog_id=blog.id article_id=article.id %}">{{ article.title }}</a></li>
    {% endfor %}
</ol>
{% if user.username == blog.author.username %}
<a href="{% url 'add_article' blog_id=blog.id %}" class="btn btn-info"><svg xmlns="http://www.w3.org/2000/svg"
        class="mb-1" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
        <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
    </svg> Add article</a>
{% endif %}
{% endblock %}