{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container w-25 mt-5">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username:</label>
            <input type="text" class="form-control" name="username" autofocus="" autocapitalize="none"
                autocomplete="username" maxlength="150" required="" id="id_username">
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password:</label>
            <input type="password" class="form-control" name="password" autocomplete="current-password" required=""
                id="id_password">
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>
</div>
{% endblock %}