{% extends 'base.html' %}

{% block title %}Add article{% endblock %}

{% block content %}
<div class="container w-50">
    <h1>Add new article</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_title" class="form-label">Title:</label>
            <input type="text" name="title" maxlength="100" required="" id="id_title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_content" class="form-label">Content:</label>
            <textarea type="text" name="content" maxlength="1000" cols="3" rows="5" id="id_content"
                class="form-control"></textarea>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" name="public" id="id_public" class="form-check-input" checked>
            <label for="id_public" class="form-check-label">Public</label>
        </div>
        <div class="mb-3" id="password-field" style="display: none;">
            <label for="id_password" class="form-label">Password:</label>
            <input type="password" name="password" maxlength="100" id="id_password" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_date" class="form-label">Date:</label>
            <input type="date" name="date" maxlength="100" required="" id="id_date" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_location" class="form-label">Location:</label>
            <input type="text" name="location" maxlength="100" required="" id="id_location" class="form-control">
        </div>
        <div class="mb-3">
            <label for="id_images" class="form-label">Images:</label>
            <input type="file" name="images" id="id_images" class="form-control" multiple>
            <div id="file-size-warning" style="color: red; display: none;">
                Total file size exceeds 1GB!
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Add article</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function ()
    {
        const publicCheckbox = document.getElementById('id_public');
        const passwordField = document.getElementById('password-field');

        function togglePasswordField()
        {
            if (publicCheckbox.checked)
            {
                passwordField.style.display = 'none';
            } else
            {
                passwordField.style.display = 'block';
            }
        }

        publicCheckbox.addEventListener('change', togglePasswordField);
        togglePasswordField(); // Initial check
    });
</script>

<script>
    document.getElementById('id_images').addEventListener('change', function (event)
    {
        var files = event.target.files;
        var totalSize = 0;
        var maxSize = 1 * 1024 * 1024 * 1024; // 1GB in bytes
        // var maxSize = 450 * 1024; // 450KB in bytes

        for (var i = 0; i < files.length; i++)
        {
            totalSize += files[i].size;
        }

        var warning = document.getElementById('file-size-warning');
        if (totalSize > maxSize)
        {
            warning.style.display = 'block';
            event.target.value = ''; // Clear the input if limit exceeded
        } else
        {
            warning.style.display = 'none';
        }
    });
</script>

{% endblock %}