{% extends 'base.html' %}

{% block title %}Article Detail{% endblock %}

{% block content %}
<h1>{{ article.title }}</h1>
<p>{{ article.content }}</p>

<h2>Comments:</h2>
<ul>
    {% for comment in comments %}
    <li>{{ comment.body }} - {{ comment.author }}</li>
    {% endfor %}
</ul>

<h2>Add a comment:</h2>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Add comment</button>
</form>
<a href="{% url 'blog_detail' blog_id=article.blog.id %}">Back to all the articles</a>
{% endblock %}