{% extends 'base.html' %}

{% block title %}Article Password{% endblock %}

{% block content %}
<div class="container mt-5 w-50">
    <div class="alert alert-danger w-75" role="alert">
        This article is private. You need to type in password in order to see it!
    </div>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Enter Password</h1>

            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}