{% extends 'base.html' %}

{% block title %}Edit comment{% endblock %}

{% block content %}
<h1>Edit Comment</h1>
<div class="container w-50">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_body" class="form-label">Body:</label>
            <textarea name="body" cols="10" rows="4" required="" id="id_body"
                class="form-control">{{form.initial.body}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
{% endblock %}